{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form.visible_fields %}
  <div class="mb-3 form-field">
    {{ field.label_tag }}
    {{ field }}
    {% if field.help_text %}<div class="form-text" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>{% endif %}
    {% for error in field.errors %}<div class="field-error" role="alert">{{ error }}</div>{% endfor %}
  </div>
{% endfor %}
{% for field in form.hidden_fields %}{{ field }}{% endfor %}
